* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5f7;
    background-image: radial-gradient(#c657d8 0.5px  ,transparent );
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.form {
    background-color: #fff;
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 5em 3em;
    border-radius: 10px;
    text-align: center;
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title{
        font-size: 2em;
        margin-bottom: 10%;
    
        display:flex;
        &__cont{
            margin-top: 3em;
            display: grid;
            gap: 2.5em;
            &__cont2{
                position: relative;
                 color: #5757577e;
                 &__in{
                    width: 100%;
                    background-color: none;
                    color: #e5e5f7;
                    font-size:1rem;
                    padding: .6em .3em;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid  #3d3c3c7e;
                    font-family: 'Roboto', sans-serif;
                    &__la{
                        color: #3130307e;
                        cursor: pointer;
                        position: absolute;
                        
                    }
                 }


            }

           
        }
    }
}


